.e-sign {
  border: 0;
  width: 4em;
}

#about-me-cont {
  display: grid;
  grid-template-columns: 1fr 1.618fr;
  align-items: start;
}
#about-me-cont .section-title {
  font-size: 1.25rem;
  font-weight: 700;
  color: #333;
  margin: 0;
}

#about-me {
  text-indent: 3ch;
  text-align: justify;
  margin: 0;
  padding: 1rem;

  border: 1px solid #000;
  border-radius: 8px;
}

@media (max-width: 768px) {
  #about-me-cont {
    grid-template-columns: 1fr;
    gap: 0.5rem;
  }
}
