.e-sign {
  border: 0;
  width: 4em;
}

#about-me-cont .section-title {
  font-size: 1.25rem;
  font-weight: 700;
  color: #333;
}

#about-me {
  text-indent: 3ch;
  text-align: justify;
  margin: 0;
  padding: 0.5rem 0;
}
