* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
body {
  font-family:
    Arial,
    sans-serif,
    Helvetica Neue,
    Helvetica;
}

h2 {
  font-weight: 600;
  letter-spacing: -0.01em;
  margin-bottom: 1rem;
}

button,
input,
select,
textarea {
  font-family: inherit;
}
section {
  width: 90%;
  max-width: 1200px;
  margin: 0 auto;
  padding: 1rem;
}

.spacer {
  height: 1rem;
}
