#featured-projects .external-icon {
  width: 1em;
  height: 1em;
  margin-left: 0.4em;
  flex-shrink: 0;
  stroke-width: 2.5;
}
#featured-projects .carousel-container {
  width: 100%;
  margin: auto;
  overflow: hidden;
  position: relative;
  background-color: rgb(39, 41, 44);
  border: 1px solid rgba(255, 255, 255, 0.1);
  border-radius: 5px;
  box-sizing: border-box;
  color: white;
}

#featured-projects .carousel-slide {
  display: flex;
  transition: transform 0.5s ease-in-out;
  align-items: stretch;
}

#featured-projects .carousel-slide .carousel-content {
  display: flex;
  width: 100%;
  min-width: 100%;
  align-items: flex-start;
  box-sizing: border-box;
  flex-direction: column;

  padding: 1rem;
}

#featured-projects .prj-title {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  width: 100%;
  max-width: 100%;
  display: block;
  margin-bottom: 1rem;
  text-transform: capitalize;
  text-align: center;
}

#featured-projects .carousel-content img {
  width: 100%;
  height: 250px;
  object-fit: cover;
}

#featured-projects .prj-title a {
  text-decoration: none;
  font-size: 1.25rem;
  font-weight: 600;
  color: #fff;
  text-align: center;
  display: inline-block;
  max-width: 100%;
  overflow: hidden;
  text-overflow: ellipsis;
  vertical-align: middle;
}

#featured-projects .prj-btns {
  display: flex;
  width: 100%;
  margin-bottom: 1rem;
  overflow: hidden;
  flex-direction: column;
}

#featured-projects .prj-btns a {
  flex: 1;
  text-align: center;
  padding: 0.5rem 0;
  text-decoration: none;
  font-size: 0.85rem;
  font-weight: 600;

  transition: all 0.3s ease;
  position: relative;
}

#featured-projects .prj-read {
  background-color: rgb(0, 119, 255);
  color: rgba(255, 255, 255, 0.8);
}

#featured-projects .prj-live {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  text-decoration: none;

  color: rgb(124, 124, 126);
  border: 1px solid rgba(0, 0, 0, 0.6);
}

#featured-projects .prj-read:hover {
  color: rgb(255, 255, 255);
  background-color: rgb(53, 148, 255);
}

#featured-projects .prj-live:hover {
  color: white;
  background-color: rgba(0, 0, 0, 0.6);
}

#featured-projects .prj-tags {
  display: flex;
  gap: 8px;
  margin-bottom: 1rem;
  flex-wrap: wrap;
}

#featured-projects .prj-tags span {
  width: max-content;
  padding: 4px 12px;
  border-radius: 50px;
  font-size: 0.75rem;
  font-weight: 600;
}

#featured-projects .prj-tags .prj-cycle {
  background: #f9f9f9;
  color: black;
}

#featured-projects .prj-tags .prj-tech {
  color: rgb(124, 124, 126);
  border: 1px solid rgb(124, 124, 126);
}

#featured-projects .prj-more {
  position: absolute;
  bottom: 1rem;
  right: 1.5rem;

  background: transparent;
  border: none;
  border-bottom: 1px solid rgb(124, 124, 126);
  border-radius: 0;

  color: rgb(124, 124, 126);
  padding: 2px 0;
  font-weight: bold;
  cursor: pointer;
  z-index: 10;
  width: max-content;

  transition: color 0.3s ease;
}

#featured-projects .prj-more:hover {
  color: white;
}

#featured-projects .carousel-content .content-description {
  font-size: 0.875rem;
  width: 100%;
  padding: 1rem;
  box-sizing: border-box;
  height: 250px;
  overflow: hidden;
  transition: height 0.4s ease;
  position: relative;
  color: rgb(124, 124, 126);
}

#featured-projects .content-description.expanded {
  height: auto;
}

#featured-projects .prj-desc {
  padding-bottom: 3rem;
}

#featured-projects .content-description:not(.expanded)::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 80px;
  background: linear-gradient(transparent, rgb(39, 41, 44));
  z-index: 1;
  pointer-events: none;
}

#featured-projects .nav-btn {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  background: rgba(0, 0, 0, 0.5);
  border: 1px solid rgba(255, 255, 255, 0.2);
  border-radius: 10%;
  width: 40px;
  height: 56px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  z-index: 100;
  transition: all 0.3s ease;
  margin: 0 10px;
  color: rgba(255, 255, 255, 0.5);
}

#featured-projects .nav-btn svg {
  width: 24px;
  height: 24px;
  stroke: currentColor;
}

#featured-projects .nav-btn:hover {
  background: rgba(0, 0, 0, 0.8);
  border: 1px solid rgba(255, 255, 255, 0.5);
  transform: translateY(-50%) scale(1.1);
  color: rgba(255, 255, 255, 0.8);
}

#featured-projects #prevBtn {
  left: -0.25rem;
}
#featured-projects #nextBtn {
  right: -0.25rem;
}

#featured-projects .dots-container {
  position: absolute;
  bottom: 24px;
  left: 50%;
  transform: translateX(-50%);
  display: flex;
  gap: 10px;
  z-index: 20;
}

#featured-projects .dot {
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background-color: rgba(0, 0, 0, 0.5);
  transition: all 0.3s ease;
  cursor: pointer;
}

#featured-projects .dot.active {
  background-color: #ffffff;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
}

@media (min-width: 768px) {
  #featured-projects .carousel-content {
    display: flex;
    flex-direction: row;
    padding: 1.5rem;
  }
  #featured-projects .carousel-content img {
    flex: 0 0 38.2%;
    width: 38.2%;
  }

  #featured-projects .carousel-content .content-description {
    flex: 0 0 61.8%;
    width: 61.8%;
  }

  #featured-projects .prj-btns {
    flex-direction: row;
  }
}
